@import '../../../mixins';

:host {
  display: block;
  padding: 25px 35px;
  box-sizing: border-box;
  @include scrollInElement();

  H4:first-of-type {
    margin-top: 1.33em;
  }
  P, .subtitle {
    display: block;
    padding-right: 20%;
  }
  .button-demo {
    @include demoElement();
    .demo__controls {
      H4:first-of-type {
        margin-top: 1.33em;
      }
    }
  }
}
