@import '../../../mixins';

:host {
  display: block;
  padding: 25px 35px;
  box-sizing: border-box;
  @include scrollInElement();

  P, .subtitle {
    display: block;
    padding-right: 20%;
  }
  .spinner-demo {
    @include demoElement();
    .demo__stage {
      &.show-background {
        background-color: var(--mda-color-neutral-4);
        &.inverse {
          background-color: var(--color-main);
        }
      }
      &.flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
