@import '~@lunaeme/medea/dist/sass/mixins';
@import '../../variables';

:host {
  HEADER {
    @include createFlexBox(row, center, normal, nowrap);
    height: $headerHeight;
    min-height: $headerHeight;
    background-color: var(--mda-color-space);
    padding-left: 25px;
    A {
      @include createFlexBox(row, center, normal, nowrap);
      text-decoration: none;
      I.icon-stratio_standard {
        font-size: 22px;
        color: var(--mda-color-st-blue);
      }
      IMG.brand {
        height: 17px;
        margin-left: 10px;
      }
      DIV.product {
        margin-left: 10px;
        color: var(--mda-color-st-blue);
      }
    }
  }
}
