:host {
  .documentation-sidebar, .documentation-content {
    position: absolute;
    overflow-y: scroll;
    top: 50px;
    bottom: 0;
    transition: all .3s ease-out;
    box-sizing: border-box;
  }
  .documentation-sidebar {
    border-right: 1px solid var(--mda-color-neutral-20);
    width: 18%;
    .sidebar__content {
      padding: 25px;
      .menu__group {
        padding: 0 0 10px 0;
        .menu__option {
          display: block;
          padding: 5px 0 5px 15px;
          font-weight: normal;
          text-decoration: none;
          &:hover {
            background-color: var(--mda-color-space-10);
          }
          &.selected {
            background-color: var(--mda-color-space-20);
          }
        }
      }
    }
  }
  .documentation-content {
    left: 18%;
    right: 0;
    padding: 25px 35px;
  }
}
