@import '~@lunaeme/medea/dist/sass/mixins';
@import '../../../mixins';

:host {
  display: block;
  padding: 25px 35px;
  box-sizing: border-box;
  @include scrollInElement();
  .typo-list--2 {
    @include createFlexBox(row, normal, normal, nowrap);
    padding: 0 80px 20px 0;

    &.last-item {
      border: 0;
    }
    .concept {
      width: 18%;
      &:not(.header) {
        color: var(--mda-color-space-40);
      }
    }
    .value {
      width: 82%;
    }
  }
  .typo-list--3 {
    @include createFlexBox(row, center, normal, nowrap);
    border-bottom: 1px solid #eaeff5;
    margin: 0px 80px 10px 0;
    padding: 0 80px 10px 0;

    &.last-item {
      border: 0;
    }
    .concept {
      width: 18%;
      &:not(.header) {
        color: var(--mda-color-space-40);
      }
    }
    .value {
      width: 18%;
    }
    .sample {
      width: 64%;
    }
  }
  .typo-list--5 {
    @include createFlexBox(row, center, normal, nowrap);
    border-bottom: 1px solid #eaeff5;
    margin: 20px 80px 10px 0;
    padding: 0 80px 10px 0;

    &.last-item {
      border: 0;
    }
    .concept {
      width: 18%;
      &:not(.header) {
        color: var(--mda-color-space-40);
      }
    }
    .value, .value-2 {
      width: 10%;
    }
    .sample {
      width: 20%;
    }
    .sample-2 {
      width: 42%;
    }
  }
  .last-item {
    padding-bottom: 0;
  }
  P, .subtitle {
    display: block;
    padding-right: 20%;
  }
  HR.separator {
    border: none;
    border-top: 1px solid var(--mda-color-neutral-20);
    margin: 25px 0;
  }
  .special-headers {
    H1 {
      font-size: 2rem;
      font-weight: bold;

      &:after {
        content: none;
      }
    }
    H2 {
      padding: 0;
      border: none;
    }
    H1, H2, H3, H4, H5, H6 {
      margin: 0;
    }
  }
}
