:host {
  .color-set {
    .color-box {
      width: 100%;
      min-width: 100%;
      border-radius: 8px;
      //box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
      box-shadow: 0 0 4px 0 rgba(var(--mda-color-space-50-rgb), 0.2);
    }
    .color-info {
      margin-top: 5px;
      text-align: center;
      SPAN {
        display: block;
      }
      .color-info__value {
        color: var(--mda-color-space-50);
      }
    }
  }
}
