@import '../../../mixins';

:host {
  display: block;
  padding: 25px 35px;
  box-sizing: border-box;
  @include scrollInElement();

  P, .subtitle {
    display: block;
    padding-right: 20%;
  }
  .tag-demo {
    @include demoElement();
    .demo__stage {
      .trigger-marquee {
        margin-top: 100px;
        opacity: 0;
        transition: opacity .5s ease-out;
        &.show {
          opacity: 1;
          transition: opacity .3s ease-in;
        }
      }
    }
    .demo__controls {
      .tag-text {
        margin-top: 1.33em;
      }
    }
  }
}
