@import '../../../mixins';

:host {
  display: block;
  padding: 25px 35px;
  box-sizing: border-box;
  @include scrollInElement();

  P, .subtitle {
    display: block;
    padding-right: 20%;
  }
  .dropdown-demo {
    @include demoElement();
    .demo__stage {
      @include createFlexBox(row, normal, space-between, nowrap);
      & > .dropdown-set {
        & > .mda-dropdown--demo {
          --mda-dropdown-position: relative;
        }
      }
      & > .trigger-marquee {
        opacity: 0;
        transition: opacity .5s ease-out;
        &.show {
          opacity: 1;
          transition: opacity .3s ease-in;
        }
      }
    }
  }
}
