@import '../../../mixins';

:host {
  display: block;
  padding: 25px 35px;
  box-sizing: border-box;
  @include scrollInElement();

  P, .subtitle {
    display: block;
    padding-right: 20%;
  }
  .themes-demo-demo {
    @include demoElement();
    .demo__stage {
      width: 100%;
    }
  }
}
