@import '~@lunaeme/medea/dist/sass/mixins';

//## Mixin for apply common scroll properties to container.
//## PARAMETERS: void
@mixin scrollInElement() {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .3s ease-out;
  @content;
}

//## Mixin for apply common demo properties to container.
//## PARAMETERS: void
@mixin demoElement() {
  @include createFlexBox(row, normal, normal, wrap);
  padding: 24px 0;
  border-top: 1px solid var(--mda-color-space-20);
  border-bottom: 1px solid var(--mda-color-space-20);
  .demo__stage {
    width: 350px;
    min-width: 350px;
    margin: 0 80px 20px 0;
  }
  .demo__controls {
    H4 {
      margin-bottom: 4px;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}
