@import '~@lunaeme/medea/dist/sass/mixins';
@import './variables';

//## Mixin for apply common scroll properties to container.
//## PARAMETERS: void
@mixin scrollInElement() {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .3s ease-out;
  @content;
}

//## Mixin for apply common demo properties to container.
//## PARAMETERS: void
@mixin demoElement() {
  @include createFlexBox(row, normal, normal, wrap);
  padding: 24px 0;
  border-top: 1px solid var(--mda-color-space-20);
  border-bottom: 1px solid var(--mda-color-space-20);
  .demo__stage {
    width: 350px;
    min-width: 350px;
    margin: 0 80px 20px 0;
  }
  .demo__controls {
    H4 {
      margin-bottom: 4px;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  @content;
}

//## Mixin for apply common background layer properties to container.
//## PARAMETERS: height-of-layer
@mixin backgroundLayer($height) {
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: $height;
    background: url($backgroundImageUrl) no-repeat top center;
    background-size: cover;
  }
}

//## Mixin for apply common header properties to container.
//## PARAMETERS: void
@mixin appHeader() {
  @include createFlexBox(row, center, normal, nowrap);
  position: relative;
  height: 50px;
  min-height: 50px;
  padding: 0 25px;
  A {
    text-decoration: none;
    @include createFlexBox(row, center, normal, nowrap);
    I.icon-stratio_standard {
      font-size: 22px;
      color: var(--mda-color-st-blue);
    }
  }
  DIV.product {
    margin-left: 10px;
  }
  @content;
}

//## Mixin for apply common footer properties to container.
//## PARAMETERS: height-of-layer
@mixin appFooter($height) {
  position: relative;
  box-sizing: border-box;
  height: $height;
  max-height: $height;
  min-height: 140px;
  background: url($backgroundImageUrl) no-repeat center center;
  background-size: cover;
  padding: calc(#{$height} * 0.15) 128px;
  A {
    @include createFlexBox(row, center, normal, nowrap);
    text-decoration: none;
    I.icon-stratio_standard {
      font-size: 22px;
    }
    IMG.brand {
      filter: invert(1);
      height: 17px;
      margin-left: 10px;
    }
  }
  @content;
}
