@import '~@lunaeme/medea/dist/skyBlue.css';

HTML {
  height: 100%;

  BODY {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;

    &.medea-tpl {
      --mda-component-width: 300px;

      H1 {
        font-weight: lighter;
        font-size: 2.5rem;
        margin: 0;
        & + HR {
          border: none;
          border-top: 1px solid var(--mda-color-space-20);
          width: 40px;
          margin: 25px 0 35px 0;
        }
      }
      H2 {
        margin: 1.904761em 0 0.476190em 0;
      }
      H3 {
        margin: 1.6em 0 0.8em 0;
      }
      P, LI, OL, .subtitle, .value {
        line-height: 1.5;
        max-width: 700px;
      }

      .one-line {
        overflow: hidden;
        overflow-wrap: break-word;
        word-break: break-word;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .page-spacer {
        height: 25px;
        min-height: 25px;
        max-height: 25px;
      }
    }
  }
}
