@import '~@lunaeme/medea/dist/sass/mixins';
@import '../../../mixins';

:host {
  display: block;
  box-sizing: border-box;
  @include scrollInElement();
  .icons-header {
    @include createFlexBox(row, normal, space-between, nowrap);
    position: sticky;
    top: 0;
    padding: 5px 35px;
    margin: 20px 0;
    z-index: 1;
    background-color: var(--mda-color-neutral-full);
    border: 1px solid var(--mda-color-neutral-full);
    transition: all .6s ease-in-out;
    H1 {
      display: inline-block;
      margin-right: 4px;
      transition: all .6s ease-in-out;
    }
    &.sticky {
      border-bottom: 1px solid var(--mda-color-neutral-20);
      align-items: center;
      transition: all .6s ease-in-out;
      H1 {
        margin: 0 4px 0 0;
        transition: all .6s ease-in-out;
        &:after {
          margin: 0;
          border: none;
          transition: all .6s ease-in-out;
        }
      }
    }
  }

  .icons-content {
    padding: 0 35px 25px 35px;
    H2 {
      margin-bottom: 0.952380em;
    }
    .icons-container {
      .icons-set {
        @include createFlexBox(row, normal, normal, wrap);
        background: var(--mda-color-neutral-2);
        padding-top: 20px;
        .icons-unity {
          @include createFlexBox(row, center, normal, nowrap);
          width: 22%;
          margin: 0 0 30px 30px;
          I.mda-icon {
            font-size: 24px;
            margin-right: 10px;
          }
          .icon-code {
            display: inline-block;
          }
        }
      }
    }
  }
}
